.call-stack {
	margin: 20px auto;
	text-align: center;
	border: 1px solid grey;
	width: 400px;
	border-radius: 10px;
	background-color: #fff;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.5;
}
.title {
	border-bottom: 1px solid grey;
	padding: 10px;
}
.body {
	height: 350px;
	display: flex;
}

.body .down {
	bottom: 10px;
	width: 100%;
	align-self: flex-end;
}
