.modal-container {
	background-color: rgba(55, 55, 55, 0.3);
	position: fixed;
	top: 0%;
	min-height: 100%;
	z-index: 100000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content-container {
	width: 60%;
	background-color: #fff;
	border-radius: 4px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	color: #00a1de;
	margin-bottom: 0.8rem;
	padding: 0.5rem 0.8rem;
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: 2px solid #00a1de;
	border-radius: 4px 4px 0 0;
}

.modal-header button {
	width: 100px;
	color: #00a1de;
	background-color: #fff;
	border: 1px solid #00a1de;
	border-radius: 4px;
	cursor: pointer;
	padding: 0.5rem 1rem;
}

.modal-body {
	height: 75vh;
	overflow-y: auto;
	padding: 1rem;
	border-radius: 0 0 4px 4px;
	width: 95%;
	display: block;
	margin: 0 auto;
}

.modal-content p {
	line-height: 30px;
	text-align: justify;
}

.play-button {
	width: 20px;
	height: 20px;
	margin: 0 0.5rem;
}

.resources {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	gap: 25px;
	margin-bottom: 0.8rem;
}

.resource-title {
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 1.8em;
}

.resource-item {
	width: 75%;
	height: auto;
}

.resource-video {
	width: 75%;
	height: 250px;
}

.modal-body::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
	cursor: pointer;
}

.modal-body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #00a1de;
}

.modal-body::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 */
	border-radius: 10px;
	background-color: #ffffff;
}
