.modal-content {
	position: absolute;
	background-color: #0000002e;
	z-index: 100000;
	width: 100vw;
	height: 100vw;
	display: grid;
	justify-items: center;
	align-items: baseline;
}
.inner-modal {
	display: block;
	z-index: 100000;
	width: 50%;
	height: auto;
	margin: 0 auto;
	background-color: antiquewhite;
	padding: 10px;
	box-shadow: 0 0 10px 5px;
}
.inner-modal button {
	float: right;
	cursor: pointer;
	padding: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.493);
}
.inner-modal * {
	z-index: 1;
}
.inner-modal .code-snippet {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #f36d33;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
}

.inner-modal .video-embed {
	width: 90%;
	display: block;
	margin: 0 auto;
	min-height: 450px;
}
.inner-modal .image-embed {
	width: 90%;
	display: block;
	margin: 0 auto;
}
