.spinner-container {
	position: relative;
	width: 125px;
	height: 125px;
}

.circle {
	position: absolute;
	box-sizing: border-box;
	height: 125px;
	width: 125px;
	border: 7px solid #00a1de;
	border-radius: 50%;
	clip-path: inset(0 0 0 50%);
}

.triangle {
	position: absolute;
	width: 30px;
	height: 20px;
	background: #00a1de;
	margin-top: -7px;
	margin-left: 38px;
	clip-path: polygon(50% 0, 0% 100%, 100% 100%);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.spin {
	-webkit-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	transform: rotate(-360deg);
	transition: all 0.5s ease-in-out;
}

.spin-back {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
