* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.step-enter {
	opacity: 0;
	transform: translate(-500px, 0);
	transform: translate3d(-500px, 0, 0);
}
.step-enter.step-enter-active {
	opacity: 1;
	transition: opacity 2s ease;
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition-duration: 100ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.step-exit {
	opacity: 1;
	transform: translate(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition-duration: 100ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}
.step-exit.step-exit-active {
	opacity: 0;
	transform: translate(500px, 0);
	transform: translate3d(500px, 0, 0);
}
