/* Changed the overall font of our website to Montserrat */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

code {
	font-family: 'Montserrat', sans-serif;
}
